<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:metrics="http://www.ryantenney.com/schema/metrics"
       xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.ryantenney.com/schema/metrics http://www.ryantenney.com/schema/metrics/metrics.xsd">

    <!--Secure beans-->
    <bean
            class="ru.alcereo.ListSecure"
            c:scriptText="element.age>20 || user.getName() == 'admin'"
            scope="singleton"
    >
        <qualifier value="EntityService.getList"/>
    </bean>

</beans>